// COLORS
$color-text-dark: #252526;
$color-text-light: #868688;
$color-primary: #e35441;
$color-border-light: #ede7e7;

// FONT
$font-size-small: 13px;
$font-size-medium: 15px;
$font-size-large: 18px;
$font-size-heading: 20px;
$font-weight-regular: 400;
$font-weight-bold: 500;

//ANIMATIONS
$hover-transition: all .2s ease-in-out;

// GLOBAL

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  color: $color-text-dark;
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
p {
  // necessary to cut off text after two lines with "..." at the end
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
}

p {
  color: $color-text-light;
  font-size: $font-size-small;
}

button,
a {
  text-decoration: none;
  transition: $hover-transition;

  &:hover {
    cursor: pointer;
  } 
}
 