* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  color: $color-text-dark;
  font-family: 'Roboto', sans-serif;
}

h1,
h2 {
  // necessary to cut off text after two lines with "..." at the end
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  color: $color-text-dark;
}

p {
  color: $color-text-light;
  font-size: $font-size-small;
}

button,
a {
  text-decoration: none;

  &:hover {
    cursor: pointer;
  } 
}